
.woocommerce .onsale {
	font-size: 12px;
	padding: 10px;
	top: 10px;
	right: 10px;
	border-radius: 6px;
}
 
/* Optional styling */
/* .woocommerce-page ul.products li.product span.onsale,  span.onsale {
  right: 0!important;
    top: 0!important; 
    font-size: 15px;
   background: #137118!important;
} */

.onsale::before {
        content: "";
        float: left;
        padding-top: unset;
}

#product-thumbnail {
	margin-top: 15px;
}

#product-thumbnail .custom-owl-nav {
	position: absolute;
	bottom: 0;
}

#product-thumbnail .owl-nav {
        bottom: 77px;
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
		transition: opacity 0.3s ease-in-out;
		opacity: 0;
}

#product-thumbnail .owl-nav button {
        width: 35px;
        display: inline-block;
        border-radius: 4px;
} 

#product-thumbnail.swiper-wrapper:hover .owl-nav {
	opacity: 1;
}


.woo-breadcrumb {
	height: 250px;
	background: #f8f8f8 no-repeat center center/ cover;
	width: 100%;
	display: grid;
	place-items: center;
}

/* 
li.entry.product.type-product a > img {
    transition: transform 1s;
    -webkit-transition: -webkit-transform 10ms;
    transition: -webkit-transform 10ms;
}

li.entry.product.type-product:hover a > img {
   transform: scaleY(0.6);
   transform-origin: 100% 0;
}
li.entry.product.type-product a.view-product.button,
li.entry.product.type-product h2.woocommerce-loop-product__title {
    transition: all 0.3s;
}
li.entry.product.type-product:hover h2.woocommerce-loop-product__title {
    margin-top: -60px !important;
}
li.entry.product.type-product:hover a.view-product.button {
    margin-top: -60px;
} */

.ml-10 {
    margin-left: 10px;
}

/* Shop Sidebar */

.sidebar-main .title-bg {
    background: #333;
    padding: 12px;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
ul, li {
    list-style-type: none;
}

.product-categories li a {
    font-size: 15px;
    padding: 12px 35px 12px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #111;
    font-weight: 400;
    background-color: #f9f9f9;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    position: relative;
    z-index: 2;
    outline: 0;
    text-decoration: none;
}
.widget.woocommerce .children li a  {
    border-top: 1px solid #ddd;
}
 
.widget.woocommerce li + li a {
    border-top: 1px solid #ddd;
}
.product-categories li a:hover {
    background: #e5e5e5;
}



/* Shop Single Page */
.single_product_page .summary.entry-summary{
        float: none !important;
    width: auto !important;
}
.product-gallery-single-image.slick-slide {
    margin: 0 8px;
}
.product-gallery-image {
    margin-top: 15px;
}
.product-gallery-image button.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.product-gallery-image button.slick-next.slick-arrow {
    right: 0;
}

.product-gallery-image button.slick-arrow:hover {
    background: #000;
    color: #fff;
}